body,p,a,ul,li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
  }

  
  li{
    list-style-type: none;
  }

  .nav-li{
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 5px;
    background-color: rgb(255, 255, 255);
  
}


.logo-container {
    display: flex;
    align-items: center;
    color: rgb(56, 157, 252);
    gap: 10px;
}

.docker{
  font-size: 20px;
}

.hamburger{
  font-size: 20px;
}

.search-container {
  width: 100%;
  height: 250px; /* Adjust height as needed */
  background-image: url('images/hero.jpg'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 

}

/* Search Box Styling */
.search-box {
  display: flex;
  align-items: center;
  max-width: 200px;
  background: white;
}

.search-box input {
  padding: 12px 10px;
  font-size: 16px;
  color: #00796b;
  height: 20px;
  outline: none;

}

.search-box button {
  background-color: #00796b;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px; 
  padding-right: 20px;
  padding-left: 20px;

}

.search-box button:hover {
  background-color: #005f56;
}

.search-box input::placeholder {
  color: #00796b; 
}

.latest-photo{
  color: #0ab8a6;
}

.all-photos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

/* Image Grid Container - Full Width */
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column on mobile */
  gap: 20px;
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

/* Image Card */
.image-card {
  background: #fff;
  overflow: hidden;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  width: 100%;
}

/* Image Styling */
.image-card img {
  width: 100%;
  height: auto;
  display: block;
}

/* Image Info */
.image-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  color: #555;
}

.date {
  font-weight: bold;
}

/* Responsive Design */
@media (min-width: 680px) {
  .gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media (min-width: 1024px) {
  .gallery {
      grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
  }
}